<a href="https://colab.research.google.com/github/edcalderin/BigDataEngineering_ICARO/blob/master/TP_Integrador.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo integrador

## Parte 1

**Objetivo**: El objetivo de la Parte 1 consta de dos secciones que se deberán resolver utilizando python (request, pandas, etc.) y PostgreSQL.


1.   Consultar una base de datos relacional (sistema OLTP) en Postgres siguiendo el DER (diagrama de entidad relación) propuesto.
2.   Construir, consultar y persistir (en csv) una tabla denormalizada (más adelante se aclara su formato) con datos agrupados por distintas categorías.

### Creando conexión a Postgres

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import requests

In [14]:
def getPostgresConnection(stringConnection='postgresql+psycopg2://postgres:postgres@db-test.cq4syw9xqygb.us-east-1.rds.amazonaws.com/postgres'):
    return create_engine(stringConnection)

Test conexion

In [13]:
connector = getPostgresConnection()
with connector.connect() as connection:
    result = connection.execute('SELECT VERSION()')
    print(result.fetchone())

('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

### Consultas a la base de datos

Creando objeto global

In [16]:
connector = getPostgresConnection()

#### 1. Cantidad de ventas totales

In [28]:
with connector.connect() as connection:
    result = connection.execute('SELECT COUNT(*) FROM Ventas')
    print(f'{result.fetchone()[0]} ventas totales')

100 ventas totales

#### 2. Cantidad de clientes totales.

In [27]:
with connector.connect() as connection:
    result = connection.execute('SELECT COUNT(*) FROM Clientes')
    print(f'{result.fetchone()[0]} clientes totales')

5 clientes totales

#### 3. Cantidad de clientes por región (mostrando la región, no el id)

In [50]:
with connector.connect() as connection:
    query = 'SELECT R.region, COUNT(C.id_region) FROM Clientes C  '\
            'INNER JOIN Regiones R ON C.id_region = R.id_region '\
            'GROUP BY(R.region)'            
    result = connection.execute(query)
    for item in result.fetchall():
        print(item)

('Sur', 3)
('Norte', 2)

#### 4. Cantidad de productos por categoría (mostrando la categoría, no el id)

In [53]:
with connector.connect() as connection:
    query = 'SELECT CP.nombre_categoria, COUNT(P.id_producto) FROM Productos P  '\
            'INNER JOIN Categoria_Producto CP ON P.id_categoria_producto = CP.id_categoria_producto '\
            'GROUP BY(CP.nombre_categoria)'            
    result = connection.execute(query)
    for item in result.fetchall():
        print(item)

('Smartphone', 5)
('Hogar', 2)
('Computacion', 2)

#### 5. Cantidad de ventas por región

In [60]:
with connector.connect() as connection:
    query = 'SELECT R.region, COUNT(C.id_region) FROM Ventas V  '\
            'INNER JOIN Clientes C ON V.id_cliente = C.id_cliente '\
            'INNER JOIN Regiones R ON R.id_region = C.id_region '\
            'GROUP BY(R.region)'
    result = connection.execute(query)
    for item in result.fetchall():
        print(item)

('Sur', 83)
('Norte', 17)

#### 6. Producto más vendido en cada región

#### 7. Cliente con más productos comprados por región

#### 8. Cliente que más gasta por región

#### 9. Monto total de ventas por categoría de producto (mostrandola categoría, noel id)