# Parquet

In [1]:
import pandas as pd

In [2]:
range_list=list(range(1,27))
df = pd.DataFrame({'col1':range_list, 'col2':range_list})
df.head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [3]:
# Required
!pip install pyarrow

In [5]:
PATH='src/parquet/df.parquet.gzip'
df.to_parquet(PATH, compression='gzip')
pd.read_parquet(PATH).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [6]:
PATH2='src/parquet/df.parquet.snappy'
df.to_parquet(PATH2, compression='snappy')
pd.read_parquet(PATH2).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [7]:
PATH3='src/parquet/df.parquet.none'
df.to_parquet(PATH3, compression=None)
pd.read_parquet(PATH3).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [30]:
ls -l src\\parquet

 El volumen de la unidad C no tiene etiqueta.
 El nÂ£mero de serie del volumen es: FEA2-A5EF

 Directorio de C:\Users\Erick\Projects\BigDataEngineering_ICARO\Python


 Directorio de C:\Users\Erick\Projects\BigDataEngineering_ICARO\Python\src\parquet

15/03/2021  14:40    <DIR>          .
15/03/2021  14:40    <DIR>          ..
15/03/2021  14:40             2.483 df.parquet.gzip
15/03/2021  14:40             2.725 df.parquet.none
15/03/2021  14:40             2.547 df.parquet.snappy
               3 archivos          7.755 bytes
               2 dirs  318.760.378.368 bytes libres

No se encuentra el archivo

## Particionado

In [31]:
df.to_parquet('src/parquet/df.parquet.patitioned', compression='snappy', partition_cols=['col1'])

In [34]:
ls src\\parquet\\df.parquet.patitioned

 El volumen de la unidad C no tiene etiqueta.
 El nÂ£mero de serie del volumen es: FEA2-A5EF

 Directorio de C:\Users\Erick\Projects\BigDataEngineering_ICARO\Python\src\parquet\df.parquet.patitioned

15/03/2021  17:15    <DIR>          .
15/03/2021  17:15    <DIR>          ..
15/03/2021  17:15    <DIR>          col1=1
15/03/2021  17:15    <DIR>          col1=10
15/03/2021  17:15    <DIR>          col1=11
15/03/2021  17:15    <DIR>          col1=12
15/03/2021  17:15    <DIR>          col1=13
15/03/2021  17:15    <DIR>          col1=14
15/03/2021  17:15    <DIR>          col1=15
15/03/2021  17:15    <DIR>          col1=16
15/03/2021  17:15    <DIR>          col1=17
15/03/2021  17:15    <DIR>          col1=18
15/03/2021  17:15    <DIR>          col1=19
15/03/2021  17:15    <DIR>          col1=2
15/03/2021  17:15    <DIR>          col1=20
15/03/2021  17:15    <DIR>          col1=21
15/03/2021  17:15    <DIR>          col1=22
15/03/2021  17:15    <DIR>          col1=23
15/03/2021  17:15    <DIR>          col1=24
15/03/2021  17:15    <DIR>          col1=25
15/03/2021  17:15    <DIR>          col1=26
15/03/2021  17:15    <DIR>          col1=3
15/03/2021  17:15    <DIR>          col1=4
15/03/2021  17:15    <DIR>          col1=5
15/03/2021  17:15    <DIR>          col1=6
15/03/2021  17:15    <DIR>          col1=7
15/03/2021  17:15    <DIR>          col1=8
15/03/2021  17:15    <DIR>          col1=9
               0 archivos              0 bytes
              28 dirs  317.421.621.248 bytes libres