# Librerias avanzadas

In [1]:
import requests

In [3]:
URL = 'https://api.github.com'
data = requests.get(URL)
data

In [5]:
data.headers

{'Server': 'GitHub.com', 'Date': 'Tue, 23 Feb 2021 22:14:21 GMT', 'Cache-Control': 'public, max-age=60, s-maxage=60', 'Vary': 'Accept, Accept-Encoding, Accept, X-Requested-With', 'ETag': '"27278c3efffccc4a7be1bf315653b901b14f2989b2c2600d7cc2e90a97ffbf60"', 'Access-Control-Expose-Headers': 'ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset', 'Access-Control-Allow-Origin': '*', 'Strict-Transport-Security': 'max-age=31536000; includeSubdomains; preload', 'X-Frame-Options': 'deny', 'X-Content-Type-Options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Referrer-Policy': 'origin-when-cross-origin, strict-origin-when-cross-origin', 'Content-Security-Policy': "default-src 'none'", 'Content-Type': 'application/json; charset=utf-8', 'X-GitHub-Media-Type': 'github.v3; format=json', 'Content-Encoding': 'gzip', 'X-RateLimit-Limit': '60', 'X-RateLimit-Remaining': '58', 'X-RateLimit-Reset': '1614122061', 'x-ratelimit-used': '2', 'Accept-Ranges': 'bytes', 'Content-Length': '512', 'X-GitHub-Request-Id': 'F398:4901:53737:F7B3A:60357E3F'}

In [9]:
print('Server:', data.headers.get('Server'))
print('Date', data.headers.get('Date'))
print('ETag', data.headers.get('ETag'))

Server: GitHub.com
Date Tue, 23 Feb 2021 22:14:21 GMT
ETag "27278c3efffccc4a7be1bf315653b901b14f2989b2c2600d7cc2e90a97ffbf60"

In [43]:
# Con parÃ¡metros
URL = 'https://api.github.com/search/repositories'
data = requests.get(URL, params={'q': 'requests+language:python'})
data

In [44]:
print('Status Code:', data.status_code)

Status Code: 200

In [47]:
jsonResponse = data.json()

In [48]:
type(jsonResponse)

dict

In [54]:
jsonResponse.get('items')[5]

{'id': 62032720,
 'node_id': 'MDEwOlJlcG9zaXRvcnk2MjAzMjcyMA==',
 'name': 'weibospider',
 'full_name': 'SpiderClub/weibospider',
 'private': False,
 'owner': {'login': 'SpiderClub',
  'id': 32793535,
  'node_id': 'MDEyOk9yZ2FuaXphdGlvbjMyNzkzNTM1',
  'avatar_url': 'https://avatars.githubusercontent.com/u/32793535?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/SpiderClub',
  'html_url': 'https://github.com/SpiderClub',
  'followers_url': 'https://api.github.com/users/SpiderClub/followers',
  'following_url': 'https://api.github.com/users/SpiderClub/following{/other_user}',
  'gists_url': 'https://api.github.com/users/SpiderClub/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/SpiderClub/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/SpiderClub/subscriptions',
  'organizations_url': 'https://api.github.com/users/SpiderClub/orgs',
  'repos_url': 'https://api.github.com/users/SpiderClub/repos',
  'events_url': 'https://api.github.com/users/SpiderClub/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/SpiderClub/received_events',
  'type': 'Organization',
  'site_admin': False},
 'html_url': 'https://github.com/SpiderClub/weibospider',
 'description': ':zap: A distributed crawler for weibo, building with celery and requests.',
 'fork': False,
 'url': 'https://api.github.com/repos/SpiderClub/weibospider',
 'forks_url': 'https://api.github.com/repos/SpiderClub/weibospider/forks',
 'keys_url': 'https://api.github.com/repos/SpiderClub/weibospider/keys{/key_id}',
 'collaborators_url': 'https://api.github.com/repos/SpiderClub/weibospider/collaborators{/collaborator}',
 'teams_url': 'https://api.github.com/repos/SpiderClub/weibospider/teams',
 'hooks_url': 'https://api.github.com/repos/SpiderClub/weibospider/hooks',
 'issue_events_url': 'https://api.github.com/repos/SpiderClub/weibospider/issues/events{/number}',
 'events_url': 'https://api.github.com/repos/SpiderClub/weibospider/events',
 'assignees_url': 'https://api.github.com/repos/SpiderClub/weibospider/assignees{/user}',
 'branches_url': 'https://api.github.com/repos/SpiderClub/weibospider/branches{/branch}',
 'tags_url': 'https://api.github.com/repos/SpiderClub/weibospider/tags',
 'blobs_url': 'https://api.github.com/repos/SpiderClub/weibospider/git/blobs{/sha}',
 'git_tags_url': 'https://api.github.com/repos/SpiderClub/weibospider/git/tags{/sha}',
 'git_refs_url': 'https://api.github.com/repos/SpiderClub/weibospider/git/refs{/sha}',
 'trees_url': 'https://api.github.com/repos/SpiderClub/weibospider/git/trees{/sha}',
 'statuses_url': 'https://api.github.com/repos/SpiderClub/weibospider/statuses/{sha}',
 'languages_url': 'https://api.github.com/repos/SpiderClub/weibospider/languages',
 'stargazers_url': 'https://api.github.com/repos/SpiderClub/weibospider/stargazers',
 'contributors_url': 'https://api.github.com/repos/SpiderClub/weibospider/contributors',
 'subscribers_url': 'https://api.github.com/repos/SpiderClub/weibospider/subscribers',
 'subscription_url': 'https://api.github.com/repos/SpiderClub/weibospider/subscription',
 'commits_url': 'https://api.github.com/repos/SpiderClub/weibospider/commits{/sha}',
 'git_commits_url': 'https://api.github.com/repos/SpiderClub/weibospider/git/commits{/sha}',
 'comments_url': 'https://api.github.com/repos/SpiderClub/weibospider/comments{/number}',
 'issue_comment_url': 'https://api.github.com/repos/SpiderClub/weibospider/issues/comments{/number}',
 'contents_url': 'https://api.github.com/repos/SpiderClub/weibospider/contents/{+path}',
 'compare_url': 'https://api.github.com/repos/SpiderClub/weibospider/compare/{base}...{head}',
 'merges_url': 'https://api.github.com/repos/SpiderClub/weibospider/merges',
 'archive_url': 'https://api.github.com/repos/SpiderClub/weibospider/{archive_format}{/ref}',
 'downloads_url': 'https://api.github.com/repos/SpiderClub/weibospider/downloads',
 'issues_url': 'https://api.github.com/repos/SpiderClub/weibospider/issues{/number}',
 'pulls_url': 'https://api.github.com/repos/SpiderClub/weibospider/pulls{/number}',
 'milestones_url': 'https://api.github.com/repos/SpiderClub/weibospider/milestones{/number}',
 'notifications_url': 'https://api.github.com/repos/SpiderClub/weibospider/notifications{?since,all,participating}',
 'labels_url': 'https://api.github.com/repos/SpiderClub/weibospider/labels{/name}',
 'releases_url': 'https://api.github.com/repos/SpiderClub/weibospider/releases{/id}',
 'deployments_url': 'https://api.github.com/repos/SpiderClub/weibospider/deployments',
 'created_at': '2016-06-27T07:02:06Z',
 'updated_at': '2021-02-23T08:34:05Z',
 'pushed_at': '2020-07-11T04:35:54Z',
 'git_url': 'git://github.com/SpiderClub/weibospider.git',
 'ssh_url': 'git@github.com:SpiderClub/weibospider.git',
 'clone_url': 'https://github.com/SpiderClub/weibospider.git',
 'svn_url': 'https://github.com/SpiderClub/weibospider',
 'homepage': '',
 'size': 77550,
 'stargazers_count': 4573,
 'watchers_count': 4573,
 'language': 'Python',
 'has_issues': True,
 'has_projects': True,
 'has_downloads': True,
 'has_wiki': True,
 'has_pages': True,
 'forks_count': 1262,
 'mirror_url': None,
 'archived': False,
 'disabled': False,
 'open_issues_count': 16,
 'license': {'key': 'mit',
  'name': 'MIT License',
  'spdx_id': 'MIT',
  'url': 'https://api.github.com/licenses/mit',
  'node_id': 'MDc6TGljZW5zZTEz'},
 'forks': 1262,
 'open_issues': 16,
 'watchers': 4573,
 'default_branch': 'master',
 'score': 1.0}

## Pandas

In [55]:
import pandas as pd

In [61]:
verduleria = {
    'Frutas': [1, 2, 3, 4],
    'Verduras': [2, 5, 0, 1],
}

In [62]:
df = pd.DataFrame(verduleria)
df

   Frutas  Verduras
0       1         2
1       2         5
2       3         0
3       4         1

In [68]:
# Con Ã­ndices
idx = ['Juan', 'Roberto', 'Liliana', 'David']
#f = pd.DataFrame(verduleria, index=idx)
df.index = idx
df

         Frutas  Verduras
Juan          1         2
Roberto       2         5
Liliana       3         0
David         4         1

In [72]:
a = {'naranjas': [1,2 , 3, 4] }
a = pd.Series(a)

In [73]:
type(a)

pandas.core.series.Series

In [74]:
a

naranjas    [1, 2, 3, 4]
dtype: object

In [80]:
df.loc['Roberto']

Frutas      2
Verduras    5
Name: Roberto, dtype: int64

In [81]:
df.iloc[1]

Frutas      2
Verduras    5
Name: Roberto, dtype: int64

In [84]:
df.iloc[0:2]

         Frutas  Verduras
Juan          1         2
Roberto       2         5

## Fetch data

In [85]:
ICARO_URL = 'https://raw.githubusercontent.com/nsoria1/icaro-datos-ejemplos/master/imdb_top_1000.csv'
icaro_datos = pd.read_csv(ICARO_URL)

In [86]:
icaro_datos.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [123]:
ICARO_IRIS_URL = 'https://raw.githubusercontent.com/nsoria1/icaro-datos-ejemplos/master/iris_dataset.json'
df_iris = pd.read_json(ICARO_IRIS_URL)

In [124]:
df_iris.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [125]:
df_iris.shape

(150, 5)

## From DataBase

In [96]:
import sqlite3

In [101]:
URL_SQLITE = 'https://github.com/nsoria1/icaro-datos-ejemplos/blob/master/database.sqlite?raw=true'
PATH_SQLDB = 'src/sqlite_ejemplo.db'

r = requests.get(URL_SQLITE, allow_redirects=True)
open(PATH_SQLDB, 'wb').write(r.content)

5038080

In [102]:
con = sqlite3.connect(PATH_SQLDB)
df_sqlite = pd.read_sql_query("select * from Tweets", con)
df_sqlite.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567588278875213824,neutral,1.0,,,Delta,,JetBlueNews,,0,@JetBlue's new CEO seeks the right balance to ...,,2015-02-16 23:36:05 -0800,USA,Sydney
1,567590027375702016,negative,1.0,Can't Tell,0.6503,Delta,,nesi_1992,,0,@JetBlue is REALLY getting on my nerves !! ðŸ˜¡ðŸ˜¡ ...,,2015-02-16 23:43:02 -0800,undecided,Pacific Time (US & Canada)
2,567591480085463040,negative,1.0,Late Flight,0.346,United,,CPoutloud,,0,@united yes. We waited in line for almost an h...,,2015-02-16 23:48:48 -0800,"Washington, DC",
3,567592368451248130,negative,1.0,Late Flight,1,United,,brenduch,,0,@united the we got into the gate at IAH on tim...,,2015-02-16 23:52:20 -0800,,Buenos Aires
4,567594449874587648,negative,1.0,Customer Service Issue,0.3451,Southwest,,VahidESQ,,0,@SouthwestAir its cool that my bags take a bit...,,2015-02-17 00:00:36 -0800,"Los Angeles, CA",Pacific Time (US & Canada)

In [121]:
df_sqlite.shape

(14485, 15)

Exportando datos

In [105]:
df.to_json('src/verduleria.json')

In [108]:
df.to_csv('src/verduleria.csv')

Importando

In [118]:
df_verd_csv = pd.read_csv('src/verduleria.csv', index_col = 0)
df_verd_csv

         Frutas  Verduras
Juan          1         2
Roberto       2         5
Liliana       3         0
David         4         1

In [120]:
df_verd_json = pd.read_json('src/verduleria.json')
df_verd_json

         Frutas  Verduras
Juan          1         2
Roberto       2         5
Liliana       3         0
David         4         1

## Leyendo stock

In [161]:
df_stock = pd.read_csv('https://raw.githubusercontent.com/nsoria1/icaro-datos-ejemplos/master/stock_data.csv', 
                       parse_dates=[0], index_col='Dia')

In [162]:
df_stock

            Precio Apertura  Precio Cierre   Resumen
Dia
2017-01-01             32.0           34.0  Ganancia
2017-01-04              NaN           32.0   Perdida
2017-01-05             28.0            NaN  Ganancia
2017-01-06              NaN           37.0       NaN
2017-01-07             32.0            NaN  Ganancia
2017-01-08              NaN            NaN   Perdida
2017-01-09              NaN            NaN       NaN
2017-01-10             34.0           36.0   Perdida
2017-01-11             40.0           34.0  Ganancia

In [163]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2017-01-01 to 2017-01-11
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Precio Apertura  5 non-null      float64
 1   Precio Cierre    5 non-null      float64
 2   Resumen          7 non-null      object
dtypes: float64(2), object(1)
memory usage: 288.0+ bytes

In [164]:
df_stock.describe()

       Precio Apertura  Precio Cierre
count          5.00000       5.000000
mean          33.20000      34.600000
std            4.38178       1.949359
min           28.00000      32.000000
25%           32.00000      34.000000
50%           32.00000      34.000000
75%           34.00000      36.000000
max           40.00000      37.000000

## Rellenando valores faltantes

In [165]:
df_stock.isna().sum()

Precio Apertura    4
Precio Cierre      4
Resumen            2
dtype: int64

In [166]:
df_nuevo = df_stock.fillna({'Precio Apertura' : 0.0, 'Precio Cierre' : 0.0, 'Resumen' : 'Sin Datos'})

In [167]:
df_nuevo.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2017-01-01 to 2017-01-11
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Precio Apertura  9 non-null      float64
 1   Precio Cierre    9 non-null      float64
 2   Resumen          9 non-null      object
dtypes: float64(2), object(1)
memory usage: 288.0+ bytes

In [168]:
df_nuevo.isna().sum()

Precio Apertura    0
Precio Cierre      0
Resumen            0
dtype: int64

In [169]:
df_nuevo

            Precio Apertura  Precio Cierre    Resumen
Dia
2017-01-01             32.0           34.0   Ganancia
2017-01-04              0.0           32.0    Perdida
2017-01-05             28.0            0.0   Ganancia
2017-01-06              0.0           37.0  Sin Datos
2017-01-07             32.0            0.0   Ganancia
2017-01-08              0.0            0.0    Perdida
2017-01-09              0.0            0.0  Sin Datos
2017-01-10             34.0           36.0    Perdida
2017-01-11             40.0           34.0   Ganancia

In [170]:
df_nuevo = df_stock.fillna(method='ffill')
df_nuevo

            Precio Apertura  Precio Cierre   Resumen
Dia
2017-01-01             32.0           34.0  Ganancia
2017-01-04             32.0           32.0   Perdida
2017-01-05             28.0           32.0  Ganancia
2017-01-06             28.0           37.0  Ganancia
2017-01-07             32.0           37.0  Ganancia
2017-01-08             32.0           37.0   Perdida
2017-01-09             32.0           37.0   Perdida
2017-01-10             34.0           36.0   Perdida
2017-01-11             40.0           34.0  Ganancia

In [171]:
df_nuevo = df_stock.fillna(method='bfill')
df_nuevo

            Precio Apertura  Precio Cierre   Resumen
Dia
2017-01-01             32.0           34.0  Ganancia
2017-01-04             28.0           32.0   Perdida
2017-01-05             28.0           37.0  Ganancia
2017-01-06             32.0           37.0  Ganancia
2017-01-07             32.0           36.0  Ganancia
2017-01-08             34.0           36.0   Perdida
2017-01-09             34.0           36.0   Perdida
2017-01-10             34.0           36.0   Perdida
2017-01-11             40.0           34.0  Ganancia

In [172]:
dt = pd.date_range('2017-01-01', '2017-11-01')
idx = pd.DatetimeIndex(dt)
df_nuevo = df_stock.reindex(idx)
df_nuevo

            Precio Apertura  Precio Cierre   Resumen
2017-01-01             32.0           34.0  Ganancia
2017-01-02              NaN            NaN       NaN
2017-01-03              NaN            NaN       NaN
2017-01-04              NaN           32.0   Perdida
2017-01-05             28.0            NaN  Ganancia
...                     ...            ...       ...
2017-10-28              NaN            NaN       NaN
2017-10-29              NaN            NaN       NaN
2017-10-30              NaN            NaN       NaN
2017-10-31              NaN            NaN       NaN
2017-11-01              NaN            NaN       NaN

[305 rows x 3 columns]

In [173]:
df_nuevo = df_stock.interpolate()
df_nuevo

            Precio Apertura  Precio Cierre   Resumen
Dia
2017-01-01        32.000000          34.00  Ganancia
2017-01-04        30.000000          32.00   Perdida
2017-01-05        28.000000          34.50  Ganancia
2017-01-06        30.000000          37.00       NaN
2017-01-07        32.000000          36.75  Ganancia
2017-01-08        32.666667          36.50   Perdida
2017-01-09        33.333333          36.25       NaN
2017-01-10        34.000000          36.00   Perdida
2017-01-11        40.000000          34.00  Ganancia

In [174]:
df_nuevo['Resumen'].fillna(method='ffill', inplace=True)
df_nuevo

            Precio Apertura  Precio Cierre   Resumen
Dia
2017-01-01        32.000000          34.00  Ganancia
2017-01-04        30.000000          32.00   Perdida
2017-01-05        28.000000          34.50  Ganancia
2017-01-06        30.000000          37.00  Ganancia
2017-01-07        32.000000          36.75  Ganancia
2017-01-08        32.666667          36.50   Perdida
2017-01-09        33.333333          36.25   Perdida
2017-01-10        34.000000          36.00   Perdida
2017-01-11        40.000000          34.00  Ganancia

## Archivos duplicados

In [176]:
df_sql_duplicados = df_sqlite.append(df_sqlite)
df_sql_duplicados.shape

(28970, 15)

In [177]:
print('Duplicados', df_sql_duplicados.shape)
print('Original', df_sqlite.shape)

Duplicados (28970, 15)
Original (14485, 15)

In [178]:
df_sql_duplicados.drop_duplicates(inplace=True)
df_sql_duplicados.shape

(14485, 15)

In [179]:
df_sql_duplicados = df_sqlite.append(df_sqlite)
df_sql_duplicados.shape

(28970, 15)

In [180]:
df_sql_duplicados.drop_duplicates(keep=False, inplace=True)
df_sql_duplicados.shape

(0, 15)

## Renombrando columnas

In [181]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [ ]:
df_sqlite.rename({''})