# Base de datos

## Importando m√≥dulos

In [1]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import requests

## Conexion

In [2]:
def getPostgreConnector(stringConnection= 'postgresql+psycopg2://postgres:postgres@db-test.cq4syw9xqygb.us-east-1.rds.amazonaws.com:5432/postgres'):
    engine = create_engine(stringConnection)
    return engine

In [4]:
engine = getPostgreConnector()
with engine.connect() as connection:
    result = connection.execute('Select version()')
    print(result.fetchone())

('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

## Creando tablas

In [9]:
with engine.connect() as connection:
    connection.execute(""" CREATE TABLE product_groups_erick (
                                                    group_id serial PRIMARY KEY,
                                                    group_name VARCHAR (255) NOT NULL,
                                                    stock INT NOT NULL
                                                    );""")
    connection.execute(""" CREATE TABLE products_erick (
                                                    product_id serial PRIMARY KEY,
                                                    product_name VARCHAR (255) NOT NULL,
                                                    price DECIMAL (11, 2),
                                                    group_id INT NOT NULL,
                                                    FOREIGN KEY (group_id) REFERENCES product_groups_erick (group_id)
                                                  );""")

## Poblando DB

In [10]:
query_insert_product_group = """
                                INSERT INTO product_groups_erick (group_name, stock)
                                VALUES
                                  ('Smartphone', 4),
                                  ('Laptop', 4),
                                  ('Tablet', 3);
                             """
query_insert_products = """
                            INSERT INTO products_erick (product_name, group_id,price)
                            VALUES
                              ('Microsoft Lumia', 1, 200),
                              ('HTC One', 1, 400),
                              ('Nexus', 1, 500),
                              ('iPhone', 1, 900),
                              ('HP Elite', 2, 1200),
                              ('Lenovo Thinkpad', 2, 700),
                              ('Sony VAIO', 2, 700),
                              ('Dell Vostro', 2, 800),
                              ('iPad', 3, 700),
                              ('Kindle Fire', 3, 150),
                              ('Samsung Galaxy Tab', 3, 200);
                        """

In [11]:
with engine.connect() as connection:
    connection.execute(query_insert_product_group)
    connection.execute(query_insert_products)

## Reading

In [12]:
with engine.connect() as connection:
    result_groups = connection.execute('SELECT * FROM product_groups_erick')
    print(result_groups.fetchall())
    result_products = connection.execute('SELECT * FROM products_erick')
    print(result_products.fetchall())

[(1, 'Smartphone', 4), (2, 'Laptop', 4), (3, 'Tablet', 3)]
[(1, 'Microsoft Lumia', Decimal('200.00'), 1), (2, 'HTC One', Decimal('400.00'), 1), (3, 'Nexus', Decimal('500.00'), 1), (4, 'iPhone', Decimal('900.00'), 1), (5, 'HP Elite', Decimal('1200.00'), 2), (6, 'Lenovo Thinkpad', Decimal('700.00'), 2), (7, 'Sony VAIO', Decimal('700.00'), 2), (8, 'Dell Vostro', Decimal('800.00'), 2), (9, 'iPad', Decimal('700.00'), 3), (10, 'Kindle Fire', Decimal('150.00'), 3), (11, 'Samsung Galaxy Tab', Decimal('200.00'), 3)]

## Windows Functions

In [13]:
query = """
        SELECT
          group_name,
          AVG (price)
        FROM
          products_erick
        INNER JOIN product_groups_erick USING (group_id)
        GROUP BY
          group_name;
        """

In [14]:
pd.read_sql(sql= query, con= engine, index_col=None)

   group_name    avg
0  Smartphone  500.0
1      Tablet  350.0
2      Laptop  850.0

In [15]:
query = """ 
        SELECT
        product_name,
        price,
        group_name,
        AVG (price) OVER (
          PARTITION BY group_name
        ) as group_average_price
        FROM products_erick
        INNER JOIN product_groups_erick USING (group_id);
      """
pd.read_sql(sql= query, con= engine, index_col=None)

          product_name   price  group_name  group_average_price
0             HP Elite  1200.0      Laptop                850.0
1      Lenovo Thinkpad   700.0      Laptop                850.0
2            Sony VAIO   700.0      Laptop                850.0
3          Dell Vostro   800.0      Laptop                850.0
4      Microsoft Lumia   200.0  Smartphone                500.0
5              HTC One   400.0  Smartphone                500.0
6                Nexus   500.0  Smartphone                500.0
7               iPhone   900.0  Smartphone                500.0
8                 iPad   700.0      Tablet                350.0
9          Kindle Fire   150.0      Tablet                350.0
10  Samsung Galaxy Tab   200.0      Tablet                350.0

## DenseRank

## Ejercicio

Ejecutar query en motor de postgre sobre las tablas products y product_groups para obtener obtener el producto de precio m√°ximo de cada grupo.

In [16]:
query = """ 
        SELECT 
          product_name,
          price,
          group_name
          FROM
            (   SELECT
                product_name,
                price,
                group_name,
                MAX (price) OVER (
                  PARTITION BY group_name
                ) as group_MAX_price
                FROM products
                INNER JOIN product_groups USING (group_id)
            ) as products_with_max
          WHERE group_MAX_price = price
      """
pd.read_sql(sql= query, con= engine, index_col=None)

  product_name   price  group_name
0     HP Elite  1200.0      Laptop
1       iPhone   900.0  Smartphone
2         iPad   700.0      Tablet

In [17]:
query = """ 
        DROP TABLE IF EXISTS temp_example;
        CREATE TEMPORARY TABLE temp_example AS
        (
                SELECT
                product_name,
                price,
                group_name,
                MAX (price) OVER (
                  PARTITION BY group_name
                ) as group_MAX_price
                FROM products
                INNER JOIN product_groups USING (group_id)
        );
        """
with engine.connect() as connection:
    result_products = connection.execute(query)

In [18]:
query = """ SELECT 
            product_name,
            price,
            group_name
            FROM temp_example
            WHERE group_MAX_price = price
      """
pd.read_sql(sql= query, con= engine, index_col=None)

  product_name   price  group_name
0     HP Elite  1200.0      Laptop
1       iPhone   900.0  Smartphone
2         iPad   700.0      Tablet

In [19]:
query = """ 
        SELECT
        product_name,
        price,
        group_name,
        MIN (price) OVER (
          PARTITION BY group_name
        ) as min_price_in_group,
        MAX (price) OVER (
          PARTITION BY group_name
        ) as max_price_in_group
        FROM products
        INNER JOIN product_groups USING (group_id);
      """
pd.read_sql(sql= query, con= engine, index_col=None)

,product_name,price,group_name,min_price_in_group,max_price_in_group
0,HP Elite,1200.0,Laptop,700.0,1200.0
1,Lenovo Thinkpad,700.0,Laptop,700.0,1200.0
2,Sony VAIO,700.0,Laptop,700.0,1200.0
3,Dell Vostro,800.0,Laptop,700.0,1200.0
4,Microsoft Lumia,200.0,Smartphone,200.0,900.0
5,HTC One,400.0,Smartphone,200.0,900.0
6,Nexus,500.0,Smartphone,200.0,900.0
7,iPhone,900.0,Smartphone,200.0,900.0
8,iPad,700.0,Tablet,150.0,700.0
9,Kindle Fire,150.0,Tablet,150.0,700.0
10,Samsung Galaxy Tab,200.0,Tablet,150.0,700.0

## Drop tables

In [5]:
with engine.connect() as connection:
    connection.execute("""drop table if exists products_erick""")
    connection.execute("""drop table if exists product_groups_erick""")

# Ejemplo MapReduce

In [21]:
def find_longest_string(list_of_strings):
    longest_string = None #Inicializo la lista vac√≠a
    longest_string_len = 0  #Inicializo la palabra de mayor tama√±o como cero (por la lista vac√≠a)
    for s in list_of_strings:  #Por cada string de la lista me fijo si es mayor que el anterior y actualizo si lo es
        if len(s) > longest_string_len:
            longest_string_len = len(s)
            longest_string = s
    return longest_string

In [22]:
large_list_of_strings = ['abc','python', 'loga']
find_longest_string(large_list_of_strings)

'python'

In [23]:
list_of_strings = large_list_of_strings.copy()

In [24]:
large_list_of_strings = list_of_strings*100000000
%time print(find_longest_string(large_list_of_strings))

python
Wall time: 20.2 s

In [25]:
my_list = [13, 2, 6, 1, 5, 9, 6]
for i in range(0, len(my_list), 3):
    print(my_list[i: i+3])

[13, 2, 6]
[1, 5, 9]
[6]

Con numpy

In [26]:
import numpy as np

In [27]:
np.array_split(my_list, 3)

[array([13,  2,  6]), array([1, 5]), array([9, 6])]

## Map

In [28]:
#Ejemplo de map para multiplicar por 2 a cada elemento de una lista
def doble(num):
    return num*2
ejemplo = list(map( doble, [1,2,3] ))
ejemplo

[2, 4, 6]

In [29]:
#Ejemplo de map para dividir por 2 si el n√∫mero es par o sumar 1 y luego dividir por 2 si es impar
ejemplo = list(map( lambda x: x/2 if x%2==0 else (x+1)/2, [10,15,30] ))
ejemplo

[5.0, 8.0, 15.0]

## Reduce

In [30]:
from functools import reduce

In [31]:
#Ejemplo para encontrar el acumulado total de una lista de n√∫meros
ejemplo = reduce(lambda x,y: x+y, [1,3,6])
ejemplo

10

## Ejercicios

1) Dada una lista de plabras retornar la misma lista pero donde a cada palabra se le agregue el prefijo "prefix_"
Ejemplo: ["hola", "azul"] --> ["prefix_hola", "prefix_azul"]

In [32]:
add_prefix = lambda word: f'prefix_{word}'
words = ['hola','mundo']
list(map(add_prefix, words))

['prefix_hola', 'prefix_mundo']

2) Dada una lista de fechas (string) en formato yyyy-mm-dd (ej. 2021-03-15) devuelva una tupla con la siguiente estructura (a√±o, mes, d√≠a).
Ejemplo: ["2021-02-01", "2019-05-12"] --> [(2021, 02, 01), (2019, 05, 12)]

In [33]:
dates = ['2021-02-01', '2019-05-12']
def split_date(date_text):
    return tuple(date_text.split('-'))
list(map(split_date, dates))

[('2021', '02', '01'), ('2019', '05', '12')]

3) Utilizar la funci√≥n incorporada map() para crear una funci√≥n que retorne una lista con la longitud de cada palabra de una frase. La funci√≥n recibe una cadena de texto y retornara una lista.
Ejemplo: "Hola, ¬øc√≥mo est√°s?" -->  [4, 4, 5]
Ayuda: quitar caracteres especiales. Separar por espacio.

In [34]:
import re
text = 'Hola, ¬øc√≥mo est√°s?'
#text = text.split(' ')
print(text)
reg_pattern = re.compile('^[\w-]+$')
reg_pattern.search(text)
#text = [i if i.isalpha() else ' ' for i in text ]
text

Hola, ¬øc√≥mo est√°s?

'Hola, ¬øc√≥mo est√°s?'

In [35]:
words = [('ghdfdf',3),('df',1)]
get_min = lambda tuple_words: reduce(lambda x,y: x if x[1]<=y[1] else y, tuple_words)
get_min(words)

('df', 1)

4) Obtener la frase que est√° en la URL https://raw.githubusercontent.com/MohaRios/datos_para_ejercicios/master/ejemplo_wordcount.txt y hacer un conteo de palabras.

In [8]:
import nltk
nltk.download('stopwords')

import requests
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Erick\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
response = requests.get('https://raw.githubusercontent.com/MohaRios/datos_para_ejercicios/master/ejemplo_wordcount.txt')

In [10]:
response.status_code

200

In [11]:
response_content = response.content

In [12]:
PATH_TEXTO = 'src/ejemplo_wordcount.txt'
with open(PATH_TEXTO) as file:
    texto = file.read()

In [13]:
stop_words = stopwords.words('english')
stop_words[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [22]:
def delete_special_characters(text):
    return re.sub("[^a-zA-Z!¬°?¬ø]", " ", text)

In [14]:
def count_words(text):
    #Copia del texto
    texto_copy = text[:]

    #A min√∫scula
    texto_copy = texto_copy.lower()

    #Removiendo caracteres raros
    texto_copy = delete_special_characters(texto_copy)

    #Splitting
    texto_copy = texto_copy.split()

    #Validando stopwords y palabras cortas
    texto_copy = [i for i in texto_copy if i not in stop_words and len(i)>3]
    return len(texto_copy)

In [18]:
print('Antes', len(texto.split()))
print('Despues', count_words(texto))

Antes 225
Despues 104

## Alternativa

In [20]:
response = requests.get('https://raw.githubusercontent.com/MohaRios/datos_para_ejercicios/master/ejemplo_wordcount.txt')
texto = response.content.decode('ascii')
texto

"And then it started like a guilty thing\nUpon a fearful summons. I have heard,\nThe cock, that is the trumpet to the morn,\nDoth with his lofty and shrill-sounding throat\nAwake the god of day; and, at his warning,\nWhether in sea or fire, in earth or air,\nThe extravagant and erring spirit hies\nTo his confine: and of the truth herein\nThis present object made probation.\nIt faded on the crowing of the cock.\nSome say that ever 'gainst that season comes\nWherein our Saviour's birth is celebrated,\nThe bird of dawning singeth all night long:\nAnd then, they say, no spirit dares stir abroad;\nThe nights are wholesome; then no planets strike,\nNo fairy takes, nor witch hath power to charm,\nSo hallow'd and so gracious is the time.\nSo have I heard and do in part believe it.\nBut, look, the morn, in russet mantle clad,\nWalks o'er the dew of yon high eastward hill:\nBreak we our watch up; and by my advice,\nLet us impart what we have seen to-night\nUnto young Hamlet; for, upon my life,\nThis spirit, dumb to us, will speak to him.\nDo you consent we shall acquaint him with it,\nAs needful in our loves, fitting our duty?\nLet's do't, I pray; and I this morning know\nWhere we shall find him most conveniently."

In [21]:
lines = texto.split('\n')
lines

['And then it started like a guilty thing',
 'Upon a fearful summons. I have heard,',
 'The cock, that is the trumpet to the morn,',
 'Doth with his lofty and shrill-sounding throat',
 'Awake the god of day; and, at his warning,',
 'Whether in sea or fire, in earth or air,',
 'The extravagant and erring spirit hies',
 'To his confine: and of the truth herein',
 'This present object made probation.',
 'It faded on the crowing of the cock.',
 "Some say that ever 'gainst that season comes",
 "Wherein our Saviour's birth is celebrated,",
 'The bird of dawning singeth all night long:',
 'And then, they say, no spirit dares stir abroad;',
 'The nights are wholesome; then no planets strike,',
 'No fairy takes, nor witch hath power to charm,',
 "So hallow'd and so gracious is the time.",
 'So have I heard and do in part believe it.',
 'But, look, the morn, in russet mantle clad,',
 "Walks o'er the dew of yon high eastward hill:",
 'Break we our watch up; and by my advice,',
 'Let us impart what we have seen to-night',
 'Unto young Hamlet; for, upon my life,',
 'This spirit, dumb to us, will speak to him.',
 'Do you consent we shall acquaint him with it,',
 'As needful in our loves, fitting our duty?',
 "Let's do't, I pray; and I this morning know",
 'Where we shall find him most conveniently.']

In [27]:
words = list(map(lambda line: list(map(delete_special_characters, line.split(' '))), lines))
words

[['And', 'then', 'it', 'started', 'like', 'a', 'guilty', 'thing'],
 ['Upon', 'a', 'fearful', 'summons ', 'I', 'have', 'heard '],
 ['The', 'cock ', 'that', 'is', 'the', 'trumpet', 'to', 'the', 'morn '],
 ['Doth', 'with', 'his', 'lofty', 'and', 'shrill sounding', 'throat'],
 ['Awake', 'the', 'god', 'of', 'day ', 'and ', 'at', 'his', 'warning '],
 ['Whether', 'in', 'sea', 'or', 'fire ', 'in', 'earth', 'or', 'air '],
 ['The', 'extravagant', 'and', 'erring', 'spirit', 'hies'],
 ['To', 'his', 'confine ', 'and', 'of', 'the', 'truth', 'herein'],
 ['This', 'present', 'object', 'made', 'probation '],
 ['It', 'faded', 'on', 'the', 'crowing', 'of', 'the', 'cock '],
 ['Some', 'say', 'that', 'ever', ' gainst', 'that', 'season', 'comes'],
 ['Wherein', 'our', 'Saviour s', 'birth', 'is', 'celebrated '],
 ['The', 'bird', 'of', 'dawning', 'singeth', 'all', 'night', 'long '],
 ['And', 'then ', 'they', 'say ', 'no', 'spirit', 'dares', 'stir', 'abroad '],
 ['The', 'nights', 'are', 'wholesome ', 'then', 'no', 'planets', 'strike '],
 ['No', 'fairy', 'takes ', 'nor', 'witch', 'hath', 'power', 'to', 'charm '],
 ['So', 'hallow d', 'and', 'so', 'gracious', 'is', 'the', 'time '],
 ['So', 'have', 'I', 'heard', 'and', 'do', 'in', 'part', 'believe', 'it '],
 ['But ', 'look ', 'the', 'morn ', 'in', 'russet', 'mantle', 'clad '],
 ['Walks', 'o er', 'the', 'dew', 'of', 'yon', 'high', 'eastward', 'hill '],
 ['Break', 'we', 'our', 'watch', 'up ', 'and', 'by', 'my', 'advice '],
 ['Let', 'us', 'impart', 'what', 'we', 'have', 'seen', 'to night'],
 ['Unto', 'young', 'Hamlet ', 'for ', 'upon', 'my', 'life '],
 ['This', 'spirit ', 'dumb', 'to', 'us ', 'will', 'speak', 'to', 'him '],
 ['Do', 'you', 'consent', 'we', 'shall', 'acquaint', 'him', 'with', 'it '],
 ['As', 'needful', 'in', 'our', 'loves ', 'fitting', 'our', 'duty?'],
 ['Let s', 'do t ', 'I', 'pray ', 'and', 'I', 'this', 'morning', 'know'],
 ['Where', 'we', 'shall', 'find', 'him', 'most', 'conveniently ']]

In [30]:
def to_key_value_structure(wordlist):
    return list(map(lambda word:(word, 1), wordlist))

In [33]:
mapped_words = list(map(to_key_value_structure, words))
mapped_words[:2]

[[('And', 1),
  ('then', 1),
  ('it', 1),
  ('started', 1),
  ('like', 1),
  ('a', 1),
  ('guilty', 1),
  ('thing', 1)],
 [('Upon', 1),
  ('a', 1),
  ('fearful', 1),
  ('summons ', 1),
  ('I', 1),
  ('have', 1),
  ('heard ', 1)]]

In [34]:
#Ahora es donde deber√≠amos hacer el reduce pero por grupo, pues el resultado es un valor pero por clave.
from itertools import groupby
from operator import itemgetter
from functools import reduce

#Reducer tal que dadas dos palabras iguales, sumen sus frecuencias
#Es decir que s√≥lo sirve para misma palabra
def reducer(word1, word2):
    return (str(word1[0]), int(word1[1]) + int(word2[1]))

#Armo un reduce para aplicar el reducer pero por grupos, donde cada grupo se arma por palabra
def reduce_by_key(reducer_func, lista):
    return [reduce(reducer_func, group) for _, group in groupby(sorted(lista, key=itemgetter(0)), key=itemgetter(0))]

In [35]:
def reduce_by_word(lista):
    return reduce_by_key(reducer, lista)

In [36]:
reduced_word_list = list(map(reduce_by_word, mapped_words))
reduced_word_list

[[('And', 1),
  ('a', 1),
  ('guilty', 1),
  ('it', 1),
  ('like', 1),
  ('started', 1),
  ('then', 1),
  ('thing', 1)],
 [('I', 1),
  ('Upon', 1),
  ('a', 1),
  ('fearful', 1),
  ('have', 1),
  ('heard ', 1),
  ('summons ', 1)],
 [('The', 1),
  ('cock ', 1),
  ('is', 1),
  ('morn ', 1),
  ('that', 1),
  ('the', 2),
  ('to', 1),
  ('trumpet', 1)],
 [('Doth', 1),
  ('and', 1),
  ('his', 1),
  ('lofty', 1),
  ('shrill sounding', 1),
  ('throat', 1),
  ('with', 1)],
 [('Awake', 1),
  ('and ', 1),
  ('at', 1),
  ('day ', 1),
  ('god', 1),
  ('his', 1),
  ('of', 1),
  ('the', 1),
  ('warning ', 1)],
 [('Whether', 1),
  ('air ', 1),
  ('earth', 1),
  ('fire ', 1),
  ('in', 2),
  ('or', 2),
  ('sea', 1)],
 [('The', 1),
  ('and', 1),
  ('erring', 1),
  ('extravagant', 1),
  ('hies', 1),
  ('spirit', 1)],
 [('To', 1),
  ('and', 1),
  ('confine ', 1),
  ('herein', 1),
  ('his', 1),
  ('of', 1),
  ('the', 1),
  ('truth', 1)],
 [('This', 1), ('made', 1), ('object', 1), ('present', 1), ('probation ', 1)],
 [('It', 1),
  ('cock ', 1),
  ('crowing', 1),
  ('faded', 1),
  ('of', 1),
  ('on', 1),
  ('the', 2)],
 [(' gainst', 1),
  ('Some', 1),
  ('comes', 1),
  ('ever', 1),
  ('say', 1),
  ('season', 1),
  ('that', 2)],
 [('Saviour s', 1),
  ('Wherein', 1),
  ('birth', 1),
  ('celebrated ', 1),
  ('is', 1),
  ('our', 1)],
 [('The', 1),
  ('all', 1),
  ('bird', 1),
  ('dawning', 1),
  ('long ', 1),
  ('night', 1),
  ('of', 1),
  ('singeth', 1)],
 [('And', 1),
  ('abroad ', 1),
  ('dares', 1),
  ('no', 1),
  ('say ', 1),
  ('spirit', 1),
  ('stir', 1),
  ('then ', 1),
  ('they', 1)],
 [('The', 1),
  ('are', 1),
  ('nights', 1),
  ('no', 1),
  ('planets', 1),
  ('strike ', 1),
  ('then', 1),
  ('wholesome ', 1)],
 [('No', 1),
  ('charm ', 1),
  ('fairy', 1),
  ('hath', 1),
  ('nor', 1),
  ('power', 1),
  ('takes ', 1),
  ('to', 1),
  ('witch', 1)],
 [('So', 1),
  ('and', 1),
  ('gracious', 1),
  ('hallow d', 1),
  ('is', 1),
  ('so', 1),
  ('the', 1),
  ('time ', 1)],
 [('I', 1),
  ('So', 1),
  ('and', 1),
  ('believe', 1),
  ('do', 1),
  ('have', 1),
  ('heard', 1),
  ('in', 1),
  ('it ', 1),
  ('part', 1)],
 [('But ', 1),
  ('clad ', 1),
  ('in', 1),
  ('look ', 1),
  ('mantle', 1),
  ('morn ', 1),
  ('russet', 1),
  ('the', 1)],
 [('Walks', 1),
  ('dew', 1),
  ('eastward', 1),
  ('high', 1),
  ('hill ', 1),
  ('o er', 1),
  ('of', 1),
  ('the', 1),
  ('yon', 1)],
 [('Break', 1),
  ('advice ', 1),
  ('and', 1),
  ('by', 1),
  ('my', 1),
  ('our', 1),
  ('up ', 1),
  ('watch', 1),
  ('we', 1)],
 [('Let', 1),
  ('have', 1),
  ('impart', 1),
  ('seen', 1),
  ('to night', 1),
  ('us', 1),
  ('we', 1),
  ('what', 1)],
 [('Hamlet ', 1),
  ('Unto', 1),
  ('for ', 1),
  ('life ', 1),
  ('my', 1),
  ('upon', 1),
  ('young', 1)],
 [('This', 1),
  ('dumb', 1),
  ('him ', 1),
  ('speak', 1),
  ('spirit ', 1),
  ('to', 2),
  ('us ', 1),
  ('will', 1)],
 [('Do', 1),
  ('acquaint', 1),
  ('consent', 1),
  ('him', 1),
  ('it ', 1),
  ('shall', 1),
  ('we', 1),
  ('with', 1),
  ('you', 1)],
 [('As', 1),
  ('duty?', 1),
  ('fitting', 1),
  ('in', 1),
  ('loves ', 1),
  ('needful', 1),
  ('our', 2)],
 [('I', 2),
  ('Let s', 1),
  ('and', 1),
  ('do t ', 1),
  ('know', 1),
  ('morning', 1),
  ('pray ', 1),
  ('this', 1)],
 [('Where', 1),
  ('conveniently ', 1),
  ('find', 1),
  ('him', 1),
  ('most', 1),
  ('shall', 1),
  ('we', 1)]]

In [37]:
final_list = list(reduce(lambda l1, l2: l1 + l2, reduced_word_list))
final_list

[('And', 1),
 ('a', 1),
 ('guilty', 1),
 ('it', 1),
 ('like', 1),
 ('started', 1),
 ('then', 1),
 ('thing', 1),
 ('I', 1),
 ('Upon', 1),
 ('a', 1),
 ('fearful', 1),
 ('have', 1),
 ('heard ', 1),
 ('summons ', 1),
 ('The', 1),
 ('cock ', 1),
 ('is', 1),
 ('morn ', 1),
 ('that', 1),
 ('the', 2),
 ('to', 1),
 ('trumpet', 1),
 ('Doth', 1),
 ('and', 1),
 ('his', 1),
 ('lofty', 1),
 ('shrill sounding', 1),
 ('throat', 1),
 ('with', 1),
 ('Awake', 1),
 ('and ', 1),
 ('at', 1),
 ('day ', 1),
 ('god', 1),
 ('his', 1),
 ('of', 1),
 ('the', 1),
 ('warning ', 1),
 ('Whether', 1),
 ('air ', 1),
 ('earth', 1),
 ('fire ', 1),
 ('in', 2),
 ('or', 2),
 ('sea', 1),
 ('The', 1),
 ('and', 1),
 ('erring', 1),
 ('extravagant', 1),
 ('hies', 1),
 ('spirit', 1),
 ('To', 1),
 ('and', 1),
 ('confine ', 1),
 ('herein', 1),
 ('his', 1),
 ('of', 1),
 ('the', 1),
 ('truth', 1),
 ('This', 1),
 ('made', 1),
 ('object', 1),
 ('present', 1),
 ('probation ', 1),
 ('It', 1),
 ('cock ', 1),
 ('crowing', 1),
 ('faded', 1),
 ('of', 1),
 ('on', 1),
 ('the', 2),
 (' gainst', 1),
 ('Some', 1),
 ('comes', 1),
 ('ever', 1),
 ('say', 1),
 ('season', 1),
 ('that', 2),
 ('Saviour s', 1),
 ('Wherein', 1),
 ('birth', 1),
 ('celebrated ', 1),
 ('is', 1),
 ('our', 1),
 ('The', 1),
 ('all', 1),
 ('bird', 1),
 ('dawning', 1),
 ('long ', 1),
 ('night', 1),
 ('of', 1),
 ('singeth', 1),
 ('And', 1),
 ('abroad ', 1),
 ('dares', 1),
 ('no', 1),
 ('say ', 1),
 ('spirit', 1),
 ('stir', 1),
 ('then ', 1),
 ('they', 1),
 ('The', 1),
 ('are', 1),
 ('nights', 1),
 ('no', 1),
 ('planets', 1),
 ('strike ', 1),
 ('then', 1),
 ('wholesome ', 1),
 ('No', 1),
 ('charm ', 1),
 ('fairy', 1),
 ('hath', 1),
 ('nor', 1),
 ('power', 1),
 ('takes ', 1),
 ('to', 1),
 ('witch', 1),
 ('So', 1),
 ('and', 1),
 ('gracious', 1),
 ('hallow d', 1),
 ('is', 1),
 ('so', 1),
 ('the', 1),
 ('time ', 1),
 ('I', 1),
 ('So', 1),
 ('and', 1),
 ('believe', 1),
 ('do', 1),
 ('have', 1),
 ('heard', 1),
 ('in', 1),
 ('it ', 1),
 ('part', 1),
 ('But ', 1),
 ('clad ', 1),
 ('in', 1),
 ('look ', 1),
 ('mantle', 1),
 ('morn ', 1),
 ('russet', 1),
 ('the', 1),
 ('Walks', 1),
 ('dew', 1),
 ('eastward', 1),
 ('high', 1),
 ('hill ', 1),
 ('o er', 1),
 ('of', 1),
 ('the', 1),
 ('yon', 1),
 ('Break', 1),
 ('advice ', 1),
 ('and', 1),
 ('by', 1),
 ('my', 1),
 ('our', 1),
 ('up ', 1),
 ('watch', 1),
 ('we', 1),
 ('Let', 1),
 ('have', 1),
 ('impart', 1),
 ('seen', 1),
 ('to night', 1),
 ('us', 1),
 ('we', 1),
 ('what', 1),
 ('Hamlet ', 1),
 ('Unto', 1),
 ('for ', 1),
 ('life ', 1),
 ('my', 1),
 ('upon', 1),
 ('young', 1),
 ('This', 1),
 ('dumb', 1),
 ('him ', 1),
 ('speak', 1),
 ('spirit ', 1),
 ('to', 2),
 ('us ', 1),
 ('will', 1),
 ('Do', 1),
 ('acquaint', 1),
 ('consent', 1),
 ('him', 1),
 ('it ', 1),
 ('shall', 1),
 ('we', 1),
 ('with', 1),
 ('you', 1),
 ('As', 1),
 ('duty?', 1),
 ('fitting', 1),
 ('in', 1),
 ('loves ', 1),
 ('needful', 1),
 ('our', 2),
 ('I', 2),
 ('Let s', 1),
 ('and', 1),
 ('do t ', 1),
 ('know', 1),
 ('morning', 1),
 ('pray ', 1),
 ('this', 1),
 ('Where', 1),
 ('conveniently ', 1),
 ('find', 1),
 ('him', 1),
 ('most', 1),
 ('shall', 1),
 ('we', 1)]

In [38]:
reduced_by_word_list = reduce_by_word(final_list)
reduced_by_word_list

[(' gainst', 1),
 ('And', 2),
 ('As', 1),
 ('Awake', 1),
 ('Break', 1),
 ('But ', 1),
 ('Do', 1),
 ('Doth', 1),
 ('Hamlet ', 1),
 ('I', 4),
 ('It', 1),
 ('Let', 1),
 ('Let s', 1),
 ('No', 1),
 ('Saviour s', 1),
 ('So', 2),
 ('Some', 1),
 ('The', 4),
 ('This', 2),
 ('To', 1),
 ('Unto', 1),
 ('Upon', 1),
 ('Walks', 1),
 ('Where', 1),
 ('Wherein', 1),
 ('Whether', 1),
 ('a', 2),
 ('abroad ', 1),
 ('acquaint', 1),
 ('advice ', 1),
 ('air ', 1),
 ('all', 1),
 ('and', 7),
 ('and ', 1),
 ('are', 1),
 ('at', 1),
 ('believe', 1),
 ('bird', 1),
 ('birth', 1),
 ('by', 1),
 ('celebrated ', 1),
 ('charm ', 1),
 ('clad ', 1),
 ('cock ', 2),
 ('comes', 1),
 ('confine ', 1),
 ('consent', 1),
 ('conveniently ', 1),
 ('crowing', 1),
 ('dares', 1),
 ('dawning', 1),
 ('day ', 1),
 ('dew', 1),
 ('do', 1),
 ('do t ', 1),
 ('dumb', 1),
 ('duty?', 1),
 ('earth', 1),
 ('eastward', 1),
 ('erring', 1),
 ('ever', 1),
 ('extravagant', 1),
 ('faded', 1),
 ('fairy', 1),
 ('fearful', 1),
 ('find', 1),
 ('fire ', 1),
 ('fitting', 1),
 ('for ', 1),
 ('god', 1),
 ('gracious', 1),
 ('guilty', 1),
 ('hallow d', 1),
 ('hath', 1),
 ('have', 3),
 ('heard', 1),
 ('heard ', 1),
 ('herein', 1),
 ('hies', 1),
 ('high', 1),
 ('hill ', 1),
 ('him', 2),
 ('him ', 1),
 ('his', 3),
 ('impart', 1),
 ('in', 5),
 ('is', 3),
 ('it', 1),
 ('it ', 2),
 ('know', 1),
 ('life ', 1),
 ('like', 1),
 ('lofty', 1),
 ('long ', 1),
 ('look ', 1),
 ('loves ', 1),
 ('made', 1),
 ('mantle', 1),
 ('morn ', 2),
 ('morning', 1),
 ('most', 1),
 ('my', 2),
 ('needful', 1),
 ('night', 1),
 ('nights', 1),
 ('no', 2),
 ('nor', 1),
 ('o er', 1),
 ('object', 1),
 ('of', 5),
 ('on', 1),
 ('or', 2),
 ('our', 4),
 ('part', 1),
 ('planets', 1),
 ('power', 1),
 ('pray ', 1),
 ('present', 1),
 ('probation ', 1),
 ('russet', 1),
 ('say', 1),
 ('say ', 1),
 ('sea', 1),
 ('season', 1),
 ('seen', 1),
 ('shall', 2),
 ('shrill sounding', 1),
 ('singeth', 1),
 ('so', 1),
 ('speak', 1),
 ('spirit', 2),
 ('spirit ', 1),
 ('started', 1),
 ('stir', 1),
 ('strike ', 1),
 ('summons ', 1),
 ('takes ', 1),
 ('that', 3),
 ('the', 9),
 ('then', 2),
 ('then ', 1),
 ('they', 1),
 ('thing', 1),
 ('this', 1),
 ('throat', 1),
 ('time ', 1),
 ('to', 4),
 ('to night', 1),
 ('trumpet', 1),
 ('truth', 1),
 ('up ', 1),
 ('upon', 1),
 ('us', 1),
 ('us ', 1),
 ('warning ', 1),
 ('watch', 1),
 ('we', 4),
 ('what', 1),
 ('wholesome ', 1),
 ('will', 1),
 ('witch', 1),
 ('with', 2),
 ('yon', 1),
 ('you', 1),
 ('young', 1)]

In [39]:
sorted_final_list = sorted(reduced_by_word_list, key= lambda x: x[1], reverse=True)
sorted_final_list

[('the', 9),
 ('and', 7),
 ('in', 5),
 ('of', 5),
 ('I', 4),
 ('The', 4),
 ('our', 4),
 ('to', 4),
 ('we', 4),
 ('have', 3),
 ('his', 3),
 ('is', 3),
 ('that', 3),
 ('And', 2),
 ('So', 2),
 ('This', 2),
 ('a', 2),
 ('cock ', 2),
 ('him', 2),
 ('it ', 2),
 ('morn ', 2),
 ('my', 2),
 ('no', 2),
 ('or', 2),
 ('shall', 2),
 ('spirit', 2),
 ('then', 2),
 ('with', 2),
 (' gainst', 1),
 ('As', 1),
 ('Awake', 1),
 ('Break', 1),
 ('But ', 1),
 ('Do', 1),
 ('Doth', 1),
 ('Hamlet ', 1),
 ('It', 1),
 ('Let', 1),
 ('Let s', 1),
 ('No', 1),
 ('Saviour s', 1),
 ('Some', 1),
 ('To', 1),
 ('Unto', 1),
 ('Upon', 1),
 ('Walks', 1),
 ('Where', 1),
 ('Wherein', 1),
 ('Whether', 1),
 ('abroad ', 1),
 ('acquaint', 1),
 ('advice ', 1),
 ('air ', 1),
 ('all', 1),
 ('and ', 1),
 ('are', 1),
 ('at', 1),
 ('believe', 1),
 ('bird', 1),
 ('birth', 1),
 ('by', 1),
 ('celebrated ', 1),
 ('charm ', 1),
 ('clad ', 1),
 ('comes', 1),
 ('confine ', 1),
 ('consent', 1),
 ('conveniently ', 1),
 ('crowing', 1),
 ('dares', 1),
 ('dawning', 1),
 ('day ', 1),
 ('dew', 1),
 ('do', 1),
 ('do t ', 1),
 ('dumb', 1),
 ('duty?', 1),
 ('earth', 1),
 ('eastward', 1),
 ('erring', 1),
 ('ever', 1),
 ('extravagant', 1),
 ('faded', 1),
 ('fairy', 1),
 ('fearful', 1),
 ('find', 1),
 ('fire ', 1),
 ('fitting', 1),
 ('for ', 1),
 ('god', 1),
 ('gracious', 1),
 ('guilty', 1),
 ('hallow d', 1),
 ('hath', 1),
 ('heard', 1),
 ('heard ', 1),
 ('herein', 1),
 ('hies', 1),
 ('high', 1),
 ('hill ', 1),
 ('him ', 1),
 ('impart', 1),
 ('it', 1),
 ('know', 1),
 ('life ', 1),
 ('like', 1),
 ('lofty', 1),
 ('long ', 1),
 ('look ', 1),
 ('loves ', 1),
 ('made', 1),
 ('mantle', 1),
 ('morning', 1),
 ('most', 1),
 ('needful', 1),
 ('night', 1),
 ('nights', 1),
 ('nor', 1),
 ('o er', 1),
 ('object', 1),
 ('on', 1),
 ('part', 1),
 ('planets', 1),
 ('power', 1),
 ('pray ', 1),
 ('present', 1),
 ('probation ', 1),
 ('russet', 1),
 ('say', 1),
 ('say ', 1),
 ('sea', 1),
 ('season', 1),
 ('seen', 1),
 ('shrill sounding', 1),
 ('singeth', 1),
 ('so', 1),
 ('speak', 1),
 ('spirit ', 1),
 ('started', 1),
 ('stir', 1),
 ('strike ', 1),
 ('summons ', 1),
 ('takes ', 1),
 ('then ', 1),
 ('they', 1),
 ('thing', 1),
 ('this', 1),
 ('throat', 1),
 ('time ', 1),
 ('to night', 1),
 ('trumpet', 1),
 ('truth', 1),
 ('up ', 1),
 ('upon', 1),
 ('us', 1),
 ('us ', 1),
 ('warning ', 1),
 ('watch', 1),
 ('what', 1),
 ('wholesome ', 1),
 ('will', 1),
 ('witch', 1),
 ('yon', 1),
 ('you', 1),
 ('young', 1)]

In [40]:
list(filter(lambda x: x[0] not in stop_words, sorted_final_list))

[('I', 4),
 ('The', 4),
 ('And', 2),
 ('So', 2),
 ('This', 2),
 ('cock ', 2),
 ('it ', 2),
 ('morn ', 2),
 ('shall', 2),
 ('spirit', 2),
 (' gainst', 1),
 ('As', 1),
 ('Awake', 1),
 ('Break', 1),
 ('But ', 1),
 ('Do', 1),
 ('Doth', 1),
 ('Hamlet ', 1),
 ('It', 1),
 ('Let', 1),
 ('Let s', 1),
 ('No', 1),
 ('Saviour s', 1),
 ('Some', 1),
 ('To', 1),
 ('Unto', 1),
 ('Upon', 1),
 ('Walks', 1),
 ('Where', 1),
 ('Wherein', 1),
 ('Whether', 1),
 ('abroad ', 1),
 ('acquaint', 1),
 ('advice ', 1),
 ('air ', 1),
 ('and ', 1),
 ('believe', 1),
 ('bird', 1),
 ('birth', 1),
 ('celebrated ', 1),
 ('charm ', 1),
 ('clad ', 1),
 ('comes', 1),
 ('confine ', 1),
 ('consent', 1),
 ('conveniently ', 1),
 ('crowing', 1),
 ('dares', 1),
 ('dawning', 1),
 ('day ', 1),
 ('dew', 1),
 ('do t ', 1),
 ('dumb', 1),
 ('duty?', 1),
 ('earth', 1),
 ('eastward', 1),
 ('erring', 1),
 ('ever', 1),
 ('extravagant', 1),
 ('faded', 1),
 ('fairy', 1),
 ('fearful', 1),
 ('find', 1),
 ('fire ', 1),
 ('fitting', 1),
 ('for ', 1),
 ('god', 1),
 ('gracious', 1),
 ('guilty', 1),
 ('hallow d', 1),
 ('hath', 1),
 ('heard', 1),
 ('heard ', 1),
 ('herein', 1),
 ('hies', 1),
 ('high', 1),
 ('hill ', 1),
 ('him ', 1),
 ('impart', 1),
 ('know', 1),
 ('life ', 1),
 ('like', 1),
 ('lofty', 1),
 ('long ', 1),
 ('look ', 1),
 ('loves ', 1),
 ('made', 1),
 ('mantle', 1),
 ('morning', 1),
 ('needful', 1),
 ('night', 1),
 ('nights', 1),
 ('o er', 1),
 ('object', 1),
 ('part', 1),
 ('planets', 1),
 ('power', 1),
 ('pray ', 1),
 ('present', 1),
 ('probation ', 1),
 ('russet', 1),
 ('say', 1),
 ('say ', 1),
 ('sea', 1),
 ('season', 1),
 ('seen', 1),
 ('shrill sounding', 1),
 ('singeth', 1),
 ('speak', 1),
 ('spirit ', 1),
 ('started', 1),
 ('stir', 1),
 ('strike ', 1),
 ('summons ', 1),
 ('takes ', 1),
 ('then ', 1),
 ('thing', 1),
 ('throat', 1),
 ('time ', 1),
 ('to night', 1),
 ('trumpet', 1),
 ('truth', 1),
 ('up ', 1),
 ('upon', 1),
 ('us', 1),
 ('us ', 1),
 ('warning ', 1),
 ('watch', 1),
 ('wholesome ', 1),
 ('witch', 1),
 ('yon', 1),
 ('young', 1)]