# Parquet

In [1]:
import pandas as pd

In [3]:
range_list=list(range(1,27))
df = pd.DataFrame({'col1':range_list, 'col2':range_list})
df.head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [10]:
# Required
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-3.0.0-cp37-cp37m-win_amd64.whl (12.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\erick\anaconda3\lib\site-packages (from pyarrow) (1.18.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-3.0.0

In [45]:
!cd src/parquet/df.parquet.patitioned/col1=20 && dir

 El volumen de la unidad C no tiene etiqueta.
 El nÂ£mero de serie del volumen es: FEA2-A5EF

 Directorio de C:\Users\Erick\Projects\BigDataEngineering_ICARO\Python\src\parquet\df.parquet.patitioned\col1=20

02/03/2021  19:12    <DIR>          .
02/03/2021  19:12    <DIR>          ..
02/03/2021  19:12             1.516 7aea95f3fac248e0a37a0a825b1d7f8e.parquet
               1 archivos          1.516 bytes
               2 dirs  326.695.153.664 bytes libres

In [28]:
PATH='src/parquet/df.parquet.gzip'
df.to_parquet(PATH, compression='gzip')
pd.read_parquet(PATH).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [29]:
PATH2='src/parquet/df.parquet.snappy'
df.to_parquet(PATH2, compression='snappy')
pd.read_parquet(PATH2).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [30]:
PATH3='src/parquet/df.parquet.none'
df.to_parquet(PATH3, compression=None)
pd.read_parquet(PATH3).head()

   col1  col2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [42]:
df.to_parquet('src/parquet/df.parquet.patitioned',compression='snappy', partition_cols=['col1'])